.loading-image,
.loading-image:after {
border-radius: 50%;
width: 48px;
height: 48px;
}
.card {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

button[type=submit],[type=reset] {
  /* background-color: #04AA6D; */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
 font-family: 'Times New Roman', Times, seri;
  
}
@media screen and (max-width: 600px) {
  button[type=reset] {
    float: left;
    margin: auto auto auto 30% ;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  button[type=submit] {
    float: left;
    margin-left: 1%;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  #changePwd{
    float: left;
    display:flex;
    margin: auto auto auto 30% ;
    position: relative;
    justify-content:center;
    align-items: center;
  }

}
.form-group.rownew {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  
}
input[type="password"] {
 font-family: 'Times New Roman', Times, serif;
}
input[type="text"] {
 font-family: 'Times New Roman', Times, serif;
}

.headernew {
  text-align: center;
 font-family: 'Times New Roman', Times, serif; 
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  caret-color: transparent; /* Add this line to stop blinking cursor */ 
}


.form-control {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.form-control:hover {
  border-color:black !important;
  transform: scale(1.01);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.42);
}
.form-control:focus::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
 
  transform: translate(0px, -80%);
  transition: all 0.2s ease-in-out;
}

.form-control:not(:focus)::placeholder {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 16px;

  transform: translate(0, -50%);
  transition: all 0.2s ease-in-out;
}


.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row .header {
  order: 1; /* Moves the h2 tag to the beginning */
}

.row .btn-close {
  order: 2; /* Moves the button X (close)to the end */
  justify-content: flex-end;
}


button[type=button]{
  float: right;
}
