<div class="card">
    <form [formGroup]="passwordForm">
        <div class="form-group rownew">

            <h3 class="headernew">Change Password</h3>
        </div>

        <div class="form-group row">

            <label for="userName" class="col-sm-2 col-form-label">User Name</label>

            <div class="col-sm-10">
                <input type="text" id="userName" class="form-control" placeholder="Enter Username" name="userName"
                    formControlName="userName" [(ngModel)]="userName" required #newPw>
                <div *ngIf="(f.userName.touched) && f.userName.invalid" class="text-danger">
                    <div *ngIf="f.userName.errors.required">*User Name is required.</div>
                </div>
            </div>
        </div>
        <div class="form-group row">

            <label for="oldPw" class="col-sm-2 col-form-label">Old Password</label>

            <div class="col-sm-10">
                <input type="password" id="oldPw" name="oldPw" class="form-control" formControlName="oldPw"
                    placeholder="Enter Old Password" required>
                <div *ngIf="(f.oldPw.touched) && f.oldPw.invalid" class="text-danger">
                    <div *ngIf="f.oldPw.errors.required">*Old Password is required.</div>
                </div>
                <div *ngIf="oldPasswordIsWrongCounts.length >= 1 && updatedSuccessfullyCounts.length < 1 || oldPasswordIsWrongCounts.length >0 && updatedSuccessfullyCounts.length >= 1"
                    class="text-danger">
                    **{{oldPasswordIsWrong}}
                </div>

                <!-- <div *ngIf="!oldPasswordIsWrong && updatedSuccessfullyCounts.length >0" class="text-danger">
                        {{oldPasswordIsWrong}}
                      </div> -->
                <!-- <div *ngIf="oldPasswordIsWrongCounts.length >0" class="text-danger">
                        {{oldPasswordIsWrong}}
                      </div> -->

            </div>
        </div>
        <div class="form-group row">

            <label for="password" class="col-sm-2 col-form-label">New Password</label>

            <div class="col-sm-10">
                <input type="password" id="newPw" class="form-control" name="newPw" formControlName="newPw"
                    placeholder="Enter New Password"  required #newPwInput>
                <div *ngIf="(f.newPw.touched) && f.newPw.invalid" class="text-danger">
                    <div *ngIf="f.newPw.errors.required">*New Password is required.</div>
                    <div *ngIf="f.newPw.errors.pattern" class="text-danger">
                        * Pattern Does Not Match as Capital Letters,Small Letters,Special Characters,Number having
                        minlength(6)...
                    </div>
                </div>
                <div *ngIf="!oldPasswordMatchWithNew" class="text-danger">*{{oldPasswordMatchWithNewError}}</div>
            </div>
        </div>
        <div class="form-group row">

            <label for="confirmPw" class="col-sm-2 col-form-label">Confirm Password</label>

            <div class="col-sm-10">
                <input type="password" id="confirmPw" class="form-control" name="confirmPw" formControlName="confirmPw"
                    placeholder="Enter Confirm Password" required #confirmPwInput>
                <div *ngIf="(f.confirmPw.touched) && f.confirmPw.invalid" class="text-danger">
                    <div *ngIf="f.confirmPw.errors.required">*Confirm Password is required.</div>
                </div>
                <div *ngIf="!passwordsMatch" class="text-danger">*{{passwordMatchError}}</div>
            </div>
        </div>

        <br>
        <div class="form-group row">
            <div class="col-sm-7">
                <button type="submit" id="changePwd" class="btn btn-success" (click)="onSubmit()">Change Password</button>
            </div>
        </div>
    </form>
</div>