
<div class="card">
    <div class="row">
        <h2 class="header">Candidate Details</h2>
        <button type="button" class="btn-close btn btn-danger" aria-label="Close" (click)="cancel()">X</button>
      </div>  
      
    <div class="card">
        
        <form [formGroup]="candidateform" novalidate>
            <div class="form-group row">
                
                    <label for="CandidateName" class="col-sm-2 col-form-label">Candidate Name </label>
              
             <div  class="col-sm-10">  
                        <input type="text" name="candidateName" id="candidateName" formControlName="candidateName"
                            placeholder="Enter Candidate Name" class="form-control" required>
                        <div *ngIf="(f.candidateName.touched) && f.candidateName.invalid"
                            class="text-danger">
                            <div *ngIf="f.candidateName.errors.required">Name is required.</div>
                        </div>
                   
                </div>
            </div>
            <div class="form-group row">
               
                    <label for="DOB" class="col-sm-2 col-form-label">Date of Birth </label>
              
                <div  class="col-sm-10">
                    <input type="date" class="form-control" name="dob" id="dob" formControlName="dob" placeholder="Choose DOB"
                         required>
                    <div *ngIf="(f.dob.touched) && f.dob.invalid" class="text-danger">
                        <div *ngIf="f.dob.errors.required">DOB is required.</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="MobileNo" class="col-sm-2 col-form-label">MobileNo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="mobileNo"  id="mobileNo" min="1" formControlName="mobileNo"
                        placeholder="Enter mobileNo" required>
                    <div *ngIf="(f.mobileNo.touched) && f.mobileNo.invalid" class="text-danger">
                        <div *ngIf="f.mobileNo.errors.required">Mobile Number is required.</div>
                        <div
                            *ngIf="(f.mobileNo.touched && f.mobileNo.invalid && (f.mobileNo.errors.minlength || f.mobileNo.errors.maxlength || f.mobileNo.errors?.pattern))">
                            Mobile Number is incorrect.</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="Email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="email" name="email" formControlName="email" placeholder="Enter email"
                        required>
                    <div *ngIf="(f.email.touched) && f.email.invalid" class="text-danger">
                        <div *ngIf="f.email.errors.required">Email is required.</div>
                        <div *ngIf="f.email.errors.email">Email seems invalid.</div>
                    </div>
                </div>
              </div>

              <div class="form-group row">
               
                    <label for="Gender" class="col-sm-2 col-form-label">Gender </label>
              
                <div class="col-sm-10">
                    <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
                    <input type="radio"  value="female" id="gender" name="gender" formControlName="gender"> Female
                    <div *ngIf="(f.gender.touched) && f.gender.invalid" class="text-danger">
                        <div *ngIf="f.gender.errors.required">Gender is required.</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
               
                    <label for="status" class="col-sm-2 col-form-label">Status</label>
               
                <div class="col-sm-10">
                    <select id="status" name="status" formControlName="status" class="form-control">
                        <option disabled>Select a Status:</option>
                        <option *ngFor="let status of statusList" value="{{status.statusId}}">{{status.statusName}}
                        </option>
                    </select>
                    <div *ngIf="(f.status.touched) && f.status.invalid" class="text-danger">
                        <div *ngIf="f.status.errors.required">Status is required.</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                
                    <label for="joiningDate" class="col-sm-2 col-form-label">Joining Date </label>
                
                 <div class="col-sm-10">
                    <input type="date" class="form-control" name="joiningDate" id="JoiningDate" formControlName="joiningDate"
                        placeholder="Choose JoiningDate" style="height:40px" required>
                    <div *ngIf="(f.joiningDate.touched) && f.joiningDate.invalid" class="text-danger">
                        <div *ngIf="f.joiningDate.errors.required">Joining Date is required.</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
               
                    <label for="skills" class="col-sm-2 col-form-label">Skills</label>
                
                <div class="col-sm-10">
                    <textarea id="Skills" class="form-control" name="skills" placeholder="Enter Skills" formControlName="skills"
                        style="height:200px"></textarea>
                    <div *ngIf="(f.skills.touched) && f.skills.invalid" class="text-danger">
                        <div *ngIf="f.skills.errors.required">Skills is required.</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
               
                    <label for="location" class="col-sm-2 col-form-label">Location </label>
                
                 <div class="col-sm-10">
                    <input type="text" class="form-control" id="location" name="location" formControlName="location"
                        placeholder="Enter location" required>
                    <div *ngIf="(f.location.touched) && f.location.invalid" class="text-danger">
                        <div *ngIf="f.location.errors.required">Location is required.</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
               
                    <label for="address" class="col-sm-2 col-form-label">Address</label>
                
                <div class="col-sm-10">
                    <textarea id="address" class="form-control" name="address" placeholder="Enter address" formControlName="address"
                        style="height:200px"></textarea>
                    <div *ngIf="(candidateform.controls['address'].invalid && candidateform.controls['address'].touched) && f.address.errors"
                        class="text-danger">
                        <div *ngIf="candidateform.controls['address'].errors.required && f.address.errors">
                            Address is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
              
                    <label for="pincode" class="col-sm-2 col-form-label">Pincode </label>
                
                <div class="col-sm-10">
                    <input type="text" min="1" class="form-control" id="pincode" name="pincode" formControlName="pincode" placeholder="Enter pincode"
                        required>
                    <div *ngIf="(candidateform.controls['pincode'].invalid && candidateform.controls['pincode'].touched) && f.pincode.errors"
                        class="text-danger">
                        <div *ngIf="candidateform.controls['pincode'].errors.required && f.pincode.errors">
                            Pincode is required
                        </div>
                        <div
                            *ngIf="candidateform.controls['pincode'].errors.minlength || candidateform.controls['pincode'].errors.maxlength">
                            Pincode is incorrect.

                        </div>
                        <div *ngIf="candidateform.controls['pincode'].errors.pattern">
                            Pincode Pattern mismatch.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">  
             <div class="col-sm-2" for="isInternal">Internal </div>  
             <div class="col-sm-10">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="isInternal" name="isInternal" formControlName="isInternal">
                    <label class="form-check-label" for="isInternal">isInternal</label>
                        
                </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    <button  type="reset"class="btn btn-danger" (click)="cancel()">Cancel</button>
        
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success"  (click)="onSubmit()">Submit</button>
                </div>
            </div> 
               
            </div>  
               
           
        </form>
    </div>
</div>



