<div class="page">
<div class="card1">
    <h2 class="headernew">Candidate Details</h2>
    
      
      <div class="form-group row">
        <div class="col-12 col-md-4 mb-3">
          <button routerLink="/candidateList" routerLinkActive="active" class="btn btn-primary">
            <span class="icons me-1">Add</span>
          </button>
        </div>
        <div>
          <input type="file" (change)="addfile($event)" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"> 
          </div>
        <div class="col-8 col-md-4 mb-3">
          <input type="text" class="form-control" maxlength="256" [(ngModel)]="searchText" (keyup)="searchFilter()" placeholder="Search by any column">
        </div>
        <div class="col-4 col-md-3 mb-3">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#downloadModal">
            <span class="bi bi-file-earmark-arrow-down"></span> Download
          </button>
        </div>
      </div>
  

<!-- Add a modal dialog box for date selection -->
<div class="modal" tabindex="-1" role="dialog" id="downloadModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Download Excel File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">From Date</label>
               
                <input type="date" class="form-control" [(ngModel)]="fromDate" max="{{this.startDate}}">
              
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">To Date</label>
                <input type="date" class="form-control" [(ngModel)]="endDate" max="{{this.startDate}}" min="{{this.fromDate}}">
              </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="download()">Download</button>
        </div>
      </div>
    </div>
  </div>
    <div class="container tbl-container">
        <div class="row tbl-fixed">
            <div class="result-loader" *ngIf="resultloader">
                <div class="loading-image"></div>
            </div>
            <table class="table-striped table-condensed table-fixed">
                <thead>
                    <th class="tableborder">Employee Name</th>
                    <th class="tableborder">DOB</th>
                    <th class="tableborder">Phone</th>
                    <th class="tableborder">Email Id</th>
                    <th class="tableborder">Gender</th>
                    <th class="tableborder">Skills</th>
                    <th class="tableborder">Joining Date</th>
                    <th class="tableborder">Location</th>
                    <th class="tableborder">Address</th>
                    <th class="tableborder">Pincode</th>
                    <th class="tableborder">Status</th>
                    <th class="tableborder">IsInternal</th>
                    <th class="tableborder" *ngIf="isAuthor">Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let candidate of batchRecord">
                        <td class="tableborder">{{candidate.candidateName}}</td>
                        <td class="tableborder">{{candidate.dob | date: 'MM/dd/yyyy'}}</td>
                        <td class="tableborder">{{candidate.mobileNo}}</td>
                        <td class="tableborder">{{candidate.email}}</td>
                        <td class="tableborder">{{candidate.gender}}</td>
                        <td class="tableborder">{{candidate.skills}}</td>
                        <td class="tableborder">{{candidate.joiningDate | date: 'MM/dd/yyyy'}}</td>
                        <td class="tableborder">{{candidate.location}}</td>
                        <td class="tableborder">{{candidate.address}}</td>
                        <td class="tableborder">{{candidate.pincode}}</td>
                        <td class="tableborder">{{candidate.status}}</td>
                        <td class="tableborder">{{candidate.isInternal?'Yes':'No'}}</td>
                        <td class="tableborder" *ngIf="isAuthor">
                            <i class="bi bi-pencil-square" (click)="editDetails(candidate)" title="Edit"></i>&nbsp;
                           
                                    <i class="bi bi-trash" (click)="deleteDetails(candidate)" title="Delete"></i>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>Row Count: {{rowCount}}</p>
        <div class="row justify-content-center" style="margin-top: 10px;">
          <nav>
              <ul class="pagination justify-content-center">
                  <li class="page-item"><button class="btn btn-info" (click)="OnPreviousClicked()"
                          (mousedown)="OnPreviousHeld()" (mouseup)="OnPreviousReleased()"
                          [disabled]="!(currentPage > 1)">Previous</button></li>
                  <li class="page-item active">
                      <label style="margin-left:10px">Page</label>
                      <input type="number" style="width: 3.2rem; height: 1.9rem;margin-right: 5px;"
                          [value]="totalPages === 0 ? 0 : currentPage" [min]="totalPages === 0 ? 0 : 1"
                          (change)="OnPageNumberChanged($event)" [max]="totalPages">

                      <label>of {{totalPages}}</label>
                  </li>
                  <li class="page-item">
                      <button class="btn btn-info" (click)="OnNextClicked()" (mousedown)="OnNextHeld()"
                          (mouseup)="OnNextReleased()" [disabled]="(currentPage == totalPages)">Next</button>
                  </li>

              </ul>
          </nav>
      </div>
    </div>
</div>
</div>